$hulk1: #88C64B;
$hulk2: #25813E;
$hulk3: #13613A;
$hulkPants1: #48397C;
$hulkPants2: #372B53;
$pads: #525252;
.padsComponent {
    background-color: $hulkPants1;
    .pad {
        padding: 40%;
        margin: 2% 0%;
        background-color: $pads;
    }
    .padMenuButton {
        color: white;
        background-color: $pads;
       
    }
}
