<!-- <div class="container-fluid">
<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="$ctrl.search">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click="$ctrl.searchSound()">Go!</button>

      </span>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
       <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="$ctrl.search">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click="$ctrl.searchSound()">Go!</button>
      </span>
    </div>
    </div>
  </div>
  <div class="row" ng-repeat="sound in $ctrl.soundList">
   <button class="btn btn-primary" ng-click="$ctrl.loadSound(sound)"> {{sound.name}}</button>
  </div>

</div>